ethereum-toggle {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

ethereum-toggle::before {
  white-space: pre;
  content : attr(data-timestamp);
  top: 4rem;
  display: inline-block;
  background: rgb(var(--color-foreground));
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: rgb(var(--color-base-background-2));
  text-align: center;
}

ethereum-toggle::after {
  content: '';
  border-bottom: 1em solid;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  color: rgb(var(--color-foreground));
  font-size: 8px;
  width: 0;
  height: 0;
  top: calc(4rem - 8px);
}

ethereum-toggle::before,
ethereum-toggle::after {
  position : absolute;
  opacity: 0;
  transform: translateY(-0.5rem);
  transform-origin: top;
  transition: opacity var(--duration-short) ease,
    transform var(--duration-short) ease;
}

ethereum-toggle:hover::before,
ethereum-toggle:hover::after {
  opacity: 1;
  transform: translateY(0%) scale(1);
}